<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins"
    />
    <link rel="stylesheet" href="CSS/styles.css" />
    <title>Hubble</title>
  </head>
  <body>
    <div class="container">
      <img src="images/nasa-rTZW4f02zY8-unsplash.jpg" alt="" />
      <p class="hubble">Hubble Space Telescope</p>
      <p class="text">30 Years of Discovery</p>
    </div>
  </body>
</html>
