<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/styles.css" />
    <title>Card</title>
  </head>
  <body>
    <div class="container">
      <p class="info">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat est
        quibusdam laborum consectetur officiis dolor ipsam quia eligendi quos,
        soluta odio rerum modi excepturi.
      </p>
      <footer class="profile">
        <img src="images/profile.jpg" alt="profile" />
        <p class="name">Thorfin</p>
      </footer>
    </div>
  </body>
</html>
