<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/styles.css" />
    <title>Photo gallery</title>
  </head>
  <body>
    <div class="container">
      <div class="box image-a">
        <img src="Images/Burger with vegetable tray.jpg" alt="" />
      </div>
      <div class="box image-b">
        <img src="Images/Doughnut Box Photo.jpg" alt="" />
      </div>
      <div class="box image-c">
        <img src="Images/Ice cream cone photo.jpg" alt="" />
      </div>
      <div class="box image-d">
        <img src="Images/Food Photo by Nathan Dumlao.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
