<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/styles.css" />
    <title>Layouts</title>
  </head>
  <body>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <span class="box"></span>
    <span class="box"></span>
    <div class="overflow">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quia
        inventore expedita pariatur dicta ex ipsa nesciunt, mollitia iusto
        nostrum!
      </p>
    </div>
    <div class="box2"></div>
  </body>
</html>
