/* In Grid */
  /* justify-items (along the horizontal axis)
  align-items (along the vertical axis) */

.container{
  display: grid;
  /* 3 X 2 grid */
  /* grid-template-rows: repeat(3,100px);
  grid-template-columns: repeat(2,100px); */
  grid-template: 100px auto 100px / 30fr 70fr;
  grid-template-areas: 
    "header  header"
    "sidebar main"
    ".       footer";
  /* row-gap: 10px;
  column-gap: 10px; */
  gap: 10px;
  border: 3px solid lightgray;
  /* justify-items: stretch;
  align-items: stretch; Default properties in justify-items, align-items */
  height: 100vh;
}

.box{
  background-color: gold;
}

.box-one{
  grid-area: header;
}

.box-four{
  grid-area: footer;
}
